*{
    box-sizing: border-box;
    left: 0;
    top: 0;
}
body {
    background-color: black;
}
.line {
    position: absolute;
    background-color: white;
}
.vertical {
    height: 100%;    /* 화면을 꽉 채움 */
    width: 1px;      /* 흰선 두께 */ 
    left: 50%;       /* x축 좌표 */
}
.horizontal {
    width: 100%;
    height: 1px;
    top: 50%;
}
.label {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(20px, 20px);
}
.target {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

