<div class="row my-2">
  <div class="col">
      <h1 class="text-center mb-2">게시글</h1>
      <div class="text-end">
          <button class="btn btn-primary btn-sm" id="btn-write">글쓰기</button>
      </div>
      <div id="boards"></div>
      <div class="text-center my-3" id="btn-group" style="display:none">
          <button class="btn btn-primary btn-sm" id="btn-prev">이전</button>
          <span class="px-2" id="span-page">1</span>
          <button class="btn btn-primary btn-sm" id="btn-next">다음</button>
      </div>
  </div>
</div>

<!--게시글목록 템플릿 : 템플릿에서 JSON 데이터 안의 JSON 데이터는 . 으로 호출한다.-->
  <script id="temp" type="text/x-handlebars-template">
    {{#each .}}
    <div class="card my-2" style="font-size:0.8rem">
      <div class="card-body">
        <a href="/board/{{ id }}"><h5>{{ title }}</h5></a>
        <div class="ellipsis2">{{ body }}</div>
      </div>    
      <div class="card-footer">
      <span> Posted on {{ date }} by {{ email }} </span>
    </div>
    {{/each}}
  </script>

<script type="module">
import {app} from "/javascripts/firebase.js";
import{
  getFirestore,
  collection,
  addDoc  
} from "https://www.gstatic.com/firebasejs/9.22.1/firebase-firestore.js";

import {
  query, 
  where, 
  getDocs,
  orderBy,
  doc 
} from "https://www.gstatic.com/firebasejs/9.22.1/firebase-firestore.js";

const db = getFirestore(app);
let page = 1;

getList();
// arrow function은 호이스팅이 이루지지 않아 함수호출은 마지막에
// getList = async() => {  
async function getList(){
  const q = query(collection(db,"board"),orderBy("date","desc"))
  const snapshot = await getDocs(q);
  let rows = [];
  snapshot.forEach((row) => {
    //console.log(`${element},${index}`);
    //console.log(arr);
    //console.log(element.data());
    console.log(row.id);
    rows.push({id:row.id, ...row.data()})
    console.log(rows);
    let temp = Handlebars.compile($("#temp").html());
    $("#boards").html(temp(rows));
  });
}
</script>
<script>
  // 개발자센터 > application > storage > localStorage
  const email = localStorage.getItem("email");
  $("#btn-write").on("click",() => {
    // 로그인을 해야 글쓰기를 할 수 있다.
    // 로그인 했을 때
    if(email){
      location.href = "/board/write";
    }
    // 로그인 안 했을 때
    else{
      location.href = "/login";
    }
  })
</script>