<div class="row my-5">
  <div class="col">
      <h1 class="text-center mb-3">ํ์์๋ณด</h1>
      <div id="mypage"></div>
      <div class="text-center my-3">
          <a href="/users/update">
              <button class="btn btn-primary px-5">์๋ณด์์</button>
          </a>
      </div>
  </div>
</div>
<!--๋ง์ดํ์ด์ง ํํ๋ฆฟ-->
<script id="temp_mypage" type="text/x-handlebars-template">
  <div class="card">
      <div class="row p-3">
          <div class="col-md-4 col-lg-5 text-center">
              <img src="{{photo}}" style="width:60%;border-radius:50%;">
          </div>
          <div class="col mt-3">
              <h5>์ด๋ฆ: {{name}}</h5>
              <hr>
              <div class="my-3">์ฃผ์: {{address}}</div>
              <div class="my-3">์ํ: {{phone}}</div>
          </div>
      </div>
  </div>
</script>

<!-- ๐งก๐งก๐งก๐งก์์ค ๊ฐ์ธ์ฌ ๊ณณ๐งก๐งก๐งก๐งก -->
