


.wrap{
  width: 800px;
  border: 10px solid black;
  margin: 100px auto;
}
.left{
  width: 400px;
  height: 400px;
  background-color: lightblue;
  float: left;
}
.right{
  width: 400px;
  height: 400px;
  background-color: hotpink;
  float: left;
}
.wrap .bottom{
  width: 800px;
  height: 100px;
  background-color: greenyellow;
  clear: both;
}

.wrap::after{
  content: "";
  display: block;
  clear: both;
}